[
 %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
 % Log-Machine section
 %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
 {logmachine,
  [
   {evict_period, {5, sec} },
   {instances, [
                {error_logger, [ {dir, "./errlogs"},
                                 {evict_after, {3, hour}},  
                                 {reopen_period, {30, min}},
                                 {archive_after, {7, day}},
                                 {locate_em, error_logger} ] }
               ]
   }
  ]}
].