%% -*- mode: erlang; -*-
[
 %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
 % Log-Machine section. See types.hrl 
 % for type config() .
 %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
 {logmachine,
  [
   {evict_period, {5, sec} }, % A global property. May be overriden in instance section
   {instances, 
    [
     {error_logger,                  % Logmachine instance name
      [ {dir, "./errlogs"},          % Recorder writes logs here
        {evict_after, {3, hour}},    % RAM cache evicts events after this period
        {reopen_period, {30, min}},  % Recorder will rotate log after this periond
        {archive_after, {7, day}},   % Recorder will move & zip logs older than this 
                                     % (if not specified explicitely then archive 
                                     % directory will be './errlogs/archive' i.e. 
                                     % relative to <'dir' property value>+/+'archive')
        {locate_em, error_logger}    % Locator will seek event managers registered 
                                     % with this name on each visible node in a cluster 
      ]}
    ]}
  ]}
].
